@mixin generic-select-style {
	text-align: center;
	text-align-last: center;
	font-weight: 700;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dropdown-arrow.png) right / 10px no-repeat #fff;
    padding-right: 20px;
    background-position: 97%;
	option{
		text-align: center;
	}
	
}

@mixin generic-scrollbar{
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 8px;
		-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
		background-color: #ecf4f6;
	}
	&::-webkit-scrollbar
	{
		width: 10px;
		background-color: #ecf4f6;
	}
	&::-webkit-scrollbar-thumb
	{
		border-radius: 8px;
		-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #67afb8;
	}
}

@mixin general-disabled-button{
	background-color: #848081;
    color: #e8e4e6;
    text-shadow: none;
    border-color: #848081;
    cursor: pointer;
}

@mixin generic-dashed-divider{
	div.divider{
		text-align: center;
		font-weight: 700;
		&:before{
			content: "";
		    font-weight: 700;
		    color: #767676;
		    width: 100%;
		    background: url(../images/contents-border2.png) 50% 0 no-repeat;
		    float: left;
		    margin-top: 10px;
		    height: 2px;
		    position: absolute;
		    z-index: -1;
		}
	}
}

@mixin general-upload-file{
	
	.uploadFile{
		border: 0;
		text-align: center;
		font-weight: 700;
		background: #f2f2f2;
		border: 1px solid #ccc;
	}
	.fileUpload {
	    position: relative;
	    overflow: hidden;
	    margin: 10px;
	    border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
    	input.upload {
		    position: absolute;
		    top: 0;
		    right: 0;
		    margin: 0;
		    padding: 0;
		    font-size: 20px;
		    cursor: pointer;
		    opacity: 0;
		    filter: alpha(opacity=0);
		}
	}
}

@mixin generic-message-phone-background{
	
	content: "";
    font-weight: 700;
    color: #767676;
    width: 100%;
    float: left;
    margin-top: 2.3%;
    height: 33em;
    position: absolute;
    z-index: -1;
	background-size: 80% 100%;
}

@mixin generic-message-container{
	
	width: 43%;
    position: absolute;
    height: 20em;
    left: 20.8%;
    margin-top: 9.4%;
}

@mixin generic-textarea-wrapper{
	
	background: #fff;
	width: 80%;
	position: relative;
	float: left;
	min-height: 11em;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-top: 10px;
	padding-right: 5px;
}

@mixin generic-textarea{
	
	resize: none;
	width: 100%;
	font-size: 14px;
    padding: 5px 10px 15px;
    border: 0;
    border-radius: 0;
    color: #555;
    font-weight: 700;
    overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
}

@mixin generic-message-character-count{
	
	font-size: 12px;
	color: #ada5a5;
	float: right;
	bottom: 0;
    position: absolute;
    right: 0;
    padding: 5px;
}