 body {
    overflow-x: hidden;
 }

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 250px;
}

.sidebar-wrapper {
    z-index: 0;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #6eafb1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.page-content-wrapper .container-fluid {
  padding: 0px 0 0 0;
}

.wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
	display: flex;
	align-items: center;
	padding-left: 35px;
	font-size: 18px;
    display: block;
    text-decoration: none;
    color: #fff;
    height: 65px;
    line-height: 60px;
    background-size: 30px auto;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #6eafb1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggler {
  z-index: 10;
  position: absolute;
  top: 50%;
  margin-left: -10px;
  transform:scale(2,3); /* W3C */
  -webkit-transform:scale(2,3); /* Safari and Chrome */
  -moz-transform:scale(2,3); /* Firefox */
  -ms-transform:scale(2,3); /* IE 9 */
  -o-transform:scale(2,3); /* Opera */
}

.btn-toggler {
  background: #6eafb1;
  padding: 2px !important;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-toggler:hover, .btn-toggler:visited {
  color: #fff;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
        width: 250px;
    }

    .wrapper.toggled .sidebar-wrapper {
        width: 0;
    }

    .page-content-wrapper {
        padding: 20px 0;
        position: relative;
    }

    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*.dashboard-container {
  margin-left: 230px;
  padding: 20px;
  display: inline-block;
}*/

.btn-new-campaign {
  display: flex;
  align-items: center;
  color: #50a7b1;
  font-weight: 800;
  font-size: 18px;
  vertical-align: middle;
}

.btn-new-campaign > i {
	font-size: 36px !important;
}

/*.dropdown-menu {
  background-color: #f2f0f1;
}


.dropdown-menu > li > a {
  color: #6eafb1 !important;
  margin: 15px 0;
  font-weight: 800;
  height: 30px;
  display: flex;
  align-items: center;
  background-size: contain;
}

.dropdown-menu > li > a:hover {
  background-color: #ccc;
}

.dropdown-menu i, #campaign-type i {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 5px;
  background-size: contain;
}*/

.menu-my-campaigns {
  background: url('../images/ic-my-campaigns1.png') 10px center no-repeat;
}

.menu-sms-bcast {
  background: url('../images/ic-sms-broadcast1.png') 10px center no-repeat;
}

.menu-video-bcast {
  background: url('../images/ic-video-broadcast1.png') 10px center no-repeat;
}

.menu-sms-feedback {
  background: url('../images/ic-sms-feedback1.png') 10px center no-repeat;
}

.menu-sms-promo {
  background: url('../images/ic-sms-promo1.png') 10px center no-repeat;
}

.menu-load-transfer {
  background: url('../images/ic-load-transfer1.png') 10px center no-repeat;
}

.menu-sms-community {
  background: url('../images/ic-sms-community1.png') 10px center no-repeat;
}

.menu-my-campaigns:hover {
  background: url('../images/ic-my-campaigns2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-bcast, .menu-sms-bcast:hover {
  background: url('../images/ic-sms-broadcast2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-video-bcast, .menu-video-bcast:hover {
  background: url('../images/ic-video-broadcast2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-feedback, .menu-sms-feedback:hover {
  background: url('../images/ic-sms-feedback2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-promo, .menu-sms-promo:hover {
  background: url('../images/ic-sms-promo2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-load-transfer, .menu-load-transfer:hover {
  background: url('../images/ic-load-transfer2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-community, .menu-sms-community:hover {
  background: url('../images/ic-sms-community2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.menu-my-campaigns:hover, .menu-sms-bcast:hover, .menu-video-bcast:hover, .menu-sms-feedback:hover, .menu-sms-promo:hover, .menu-load-transfer:hover, .menu-sms-community:hover {
  background-position: 10px center !important;
}

.campaign-thumb {
  height: 230px;
}

.camp-count {
  padding-top: 20px;
}

.campaign-stack-1, .campaign-stack-2, .campaign-stack-3 {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #41799c;
  padding: 12px;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.22);
}

.campaign-stack-1 {
  z-index: 10;
}

.campaign-stack-2 {
  z-index: 5;
  left: 25px;
  top: 10px;
}

.campaign-stack-3 {
  z-index: 1;
  left: 35px;
  top: 20px;
}

.page-content-wrapper #campaign-type {
  font-weight: 800;
  text-transform: uppercase;
  color: #41799c;
  text-align: center;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.brand-panel {
  border-right: 8px solid #9bc8cd;
  height: 190px;
  margin-bottom: 10px;
}

.brand-panel h1, .brand-panel h2, .brand-panel h3, .brand-panel h4, .brand-panel h5, .brand-panel h6 {
  font-weight: 800;
}

.brand-panel h4 {
  color: #427a9b;
}

.brand-stack {
  position: absolute;
  display: inline-block;
  width: 190px;
  height: 190px;
  background-color: #9bc8cd;
  padding: 12px;
  text-transform: uppercase;
  color: #fff;
}

.brand-stack h4 {
  padding-top: 40px;
  font-weight: 800;
}

.brand-stack h5 {
  position: relative;
  display: block !important;
  bottom: -20px;
}

.brand-stack h5 > button {
  background-color: #41799c;
  color: #fff !important;
  font-weight: 800;
}

.brand-stack h5 > button:hover {
  background-color: #50a7b1 !important;
}

.popover {
  max-width: 500px !important;
}

.popover-title {
  font-size: 20px !important;
  font-weight: 800;
  color: #407997;
  text-align: center;
  background-color: #fff !important;
  border-bottom: none;
}

.summary-pane {
  border: 1px solid #adc4d2;
  border-radius: 5px;
  margin-bottom: 8px;
}

.summary-pane .summary-title {
  background-color: #4e9fb0;
  color: #fff;
  font-weight: 800;
  margin-top: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  text-align: center;
}

.summary-pane .summary-content {
  padding: 8px;
}

.input-group-addon {
  background-color: #41799c !important;
  color: #fff !important;
  font-weight: 800 !important;
  font-size: 16px !important;
}

.network-pane {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 8px;
}

.network-title {
  background-color: #41799c;
  color: #fff;
  font-weight: 800;
  margin-top: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
}

.network-options {
  padding: 5px;
}

.network-options img {
  width: 30%;
}

.network-options .checkbox {
  display: flex;
  align-items: center;
}

.step2 .panel {
  background-color: transparent !important;
  border-top: 2px solid #cad4dd !important;
  border-bottom: 2px solid #cad4dd !important;
  border-right: 0px solid #cad4dd !important;
  border-left: 0px solid #cad4dd !important;
  border-radius: 0 !important;
}

.step2 .panel-default >.panel-heading {
  background: transparent !important;
}

.step2 .panel-default .panel-title > a {
  display: flex;
  align-items: center;
  color: #555555;
  text-transform: uppercase;
}

.step2 .panel-default .panel-title > a i {
  font-size: 24px;
  font-weight: 800;
  padding-right: 10px;
}

.step2 .panel-default .panel-title > a:hover, .step2 .panel-default .panel-title > a:link {
  text-decoration: none;
}

.step2 .panel-heading .accordion-toggle:before {
  /* symbol for "opening" panels */
  font-family: 'Ionicons';
  content: "\f463";
  font-size: 24px;
  font-weight: 800;
  padding-right: 10px;
  float: left;
  color: grey;
}

.step2 .panel-heading .accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\f48a"; 
}

#broadcast-summary div.summary-wrapper .panel-title a {
  color: #fff;
  text-decoration: none;
}

#broadcast-summary div.summary-wrapper .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Ionicons';
  content: "\f35f";
  font-size: 24px;
  font-weight: 800;
  padding-left: 10px;
  float: right;
  color: #fff;
}

#broadcast-summary div.summary-wrapper .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f363"; 
}

.summaries h1 {
  margin-left: 0 !important;
}

.message-sender-id {
  position: relative;
  top: 20px;
  left: 122px;
  color: #fff;
  font-weight: 700;
}

.message-text {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2px;
  max-height: 250px;
}

.message-wrapper::-webkit-scrollbar-track, .message-text::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  moz-border-radius: 8px;
  background-color: #ecf4f6;
}
.message-wrapper::-webkit-scrollbar, .message-text::-webkit-scrollbar
{
  width: 3px;
  background-color: #ecf4f6;
}
.message-wrapper::-webkit-scrollbar-thumb, .message-text::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #67afb8;
}

#feedback-dashboard .content .step1 div.content-right div.message-container div.message-text div.sms-text, #feedback-dashboard .content .step2 div.content-right div.message-container div.message-text div.sms-text {
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  max-width: 140px;
  height: auto;
  min-height: 30px;
}

.sms-text:before {
  font-family: 'Ionicons';
  position: relative;
  top: -12px;
  left: -8px;
  font-size: 36px;
  content: '\f361';
  color: #ebebeb;
}

#feedback-dashboard .content .step1 div.content-right div.message-container div.message-text div.sms-text p, #feedback-dashboard .content .step2 div.content-right div.message-container div.message-text div.sms-text p {
  width: 100%;
  max-width: 130px;
  height: auto;
  min-height: 30px;
  margin-top: -50px;
  padding-bottom: 5px;
}

#feedback-dashboard .content .step1 div.content-right div.message-container div.message-text div.sms-reply, #feedback-dashboard .content .step2 div.content-right div.message-container div.message-text div.sms-reply {
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 140px;
  height: auto;
  min-height: 30px;
  margin: auto 10px auto auto;
}

.sms-reply:before {
  font-family: 'Ionicons';
  position: relative;
  top: -12px;
  right: -138px;
  font-size: 36px;
  content: '\f363';
  color: #ccc;
}

#feedback-dashboard .content .step1 div.content-right div.message-container div.message-text div.sms-reply p, #feedback-dashboard .content .step2 div.content-right div.message-container div.message-text div.sms-reply p {
  width: 100%;
  max-width: 130px;
  height: auto;
  min-height: 30px;
  margin-top: -50px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.preview-msg a, .preview-msg span i {
  font-weight: 800;
  color: #4ea0ae;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.preview-msg a:hover, .preview-msg a:visited, .preview-msg a:link {
  text-decoration: none;
}

.fancybox-close {
  position: absolute;
    top:5px !important;
    right:10px !important;
    width: 19px;
    height: 19px;
    cursor: pointer;
    z-index: 8040;
  background-image: none !important;
  }
.fancybox-close:before {
  font-family: 'Ionicons';
  content: '\f128' !important;
  font-size: 20px;
  color: #7e7e7e !important;
}

.fancybox-close:hover{

  text-decoration: none!important;
}


.tooltip.right{
  margin-left:0px;
  padding:0 5px;
  margin-top: 45px;
}
.tooltip-inner {
  /*background-color: #f1eeee;*/
  color: #333; 
  font-weight: 700;
  font-size: 10px;
  border:0;
  border-radius: 0;
  width: 130px;
  background: url('../images/warning-popup.png') no-repeat;
  background-size: 100% 100%;
}
.tooltip.right .tooltip-arrow{
  top:50%;
  left:0;
  margin-top:-10px;
  border-width:0;
  border-right-color:#f1eeee;
}
.fancybox-skin{

  background: #fff;
}
.fancybox-inner {
}
.fancybox-outer{
  margin-top: 20px;
}

.fancybox-inner::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  moz-border-radius: 8px;
  background-color: #ecf4f6;
}
.fancybox-inner::-webkit-scrollbar
{
  width: 10px;
  background-color: #ecf4f6;
}
.fancybox-inner::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #67afb8;
}

.request-process {
  height: 100px;
}

.request-process h5 {
  font-weight: bolder;
}

.request-process hr {
  position: relative;
  z-index: -1;
  border-top: 4px solid #4fa7b1;
  padding: 0 10px;
  top: 60px;
}

.request-circle {
  text-align: center;
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
}

.request-circle .request-icon {
  margin: auto auto;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: #4fa7b1 solid 3px;
  line-height: 60px;
  font-size: 50px;
  color: #4fa7b1;
}

.request-circle .process-icon {
  margin: auto auto;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: #4fa7b1 dotted 3px;
  line-height: 60px;
  font-size: 50px;
  color: #4fa7b1;
}
