#process-live-account .jumbotron-placeholder {
    margin-top: 6em;
}

#process-live-account .h2-kast {
    font-size: 24px !important;
}

#process-live-account .img-med {
    max-width: 300px !important;
}
