@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Book.ttf'), url('../fonts/Gotham/Gotham-Book 2.ttf'), url('../fonts/Gotham/GothamRounded-Book.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Bold 2.ttf'), url('../fonts/Gotham/Gotham-Bold.ttf');
    font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body{
	padding: 0;
    margin: 0;
    height:100%;
	background: url('../images/dashboard-bg.png') top right no-repeat; 
	background-attachment:fixed;
	background-size: 100% 100%;
	font-family: 'Gotham';
}

.nopaddingLR{
	padding-left: 0px;
	padding-right: 0px;
}

footer { 
	background-color:#0c1a1e;
	background-image: url('../images/footer-effect.png'); 
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background-size: 100% 100%;

	.footer-content{

	}
}

.header{	
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 3px solid #53a7b1;
	border-radius: 0px;
	margin-bottom:0px;
    background: #fff;

    .container-fluid{

    	min-height: 70px;

    	.navbar-header{

    		height:70px;
    		margin-left: 1%;

    		.navbar-brand{

    			height: 70px;

    			img{

    				width: 50%;
    			}
    		}
    	}

    	#header-content{

			li{

				margin-right: 20px;

				a{

					background: #fff!important;
					box-shadow: none!important;		
					font-size: 14px;
					padding-top: 25px;
					font-weight: 700;
					color: #4fa7b1;
				}
			}
		}
    }
}

#broadcast-container{

	margin-top: 2em;

	.content{

		background: none;
		min-height: 23em;
	}

	.steps{

		width: 40%;

		&:before{

			    content: "";
			    font-weight: 700;
			    color: #767676;
			    width: 100%;
			    background: url(../images/footer-effect.png) -24px 0 no-repeat;
			    float: left;
			    margin: 18px -17px 0px 10px;
			    height: 2px;
			    position: absolute;
			    z-index: -1;
		}

		ul{

			width: 100%;
    		float: left;

			li{

				width: 12%;

				a{

					color: #fff;
				    font-weight: 700;
				    border-radius: 30px;
				    padding: .5em 1em .5em .9em;
				    font-size: 1.3em;
				}

				&.current{

					a{
						background: #41799c;
					}
				}

				&.disabled{

					a{

						background: #9bc8cd;
					}
				}

				&:nth-child(2), &:nth-child(3){

					margin-left: 25%;
				}
			}
		}
	}
}

.main-wrapper{
	padding-bottom:5%;
}

@media (min-width: 365px){

}

@media (min-width: 768px){

	.header{

	    .container-fluid{

	    	#header-content{

				.navbar-nav{

					margin-left: -5%!important;
				}
			}
	    }
	}
}