{% extends 'kast_base_templates/live_account_template.html' %}

{% block content %}
        <!-- content body start -->
        <div class="container-fluid main-wrapper" role="main">
            <div class="wrapper toggled">
                <!-- <div class="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                        <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                        <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                        <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                        <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                        <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                        <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                    </ul>
                </div>
                <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div ng-controller="Ctrl">
                            <div class="col-md-12 message-template-container">
                                <div class="col-md-6 left-content">
                                    <h4 style="padding-left: 15px;">MESSAGE TEMPLATES</h4>
                                    {% if templates %}
                                    <div class="input-group paddingLR">
                                        <span class="input-group-addon" style="color: #555!important;padding: 7px!important;background-color: #fff!important;"><span class="glyphicon glyphicon-search"></span></span>
                                      <input type="text" class="form-control" id="inputString" onkeyup="searchText()" placeholder="Search Message Template...">
                                    </div>
                                    <div class="search-result" style="width: 100%;float: left;"></div>
                                    <div class="col-md-12 nopaddingLR templates-container" id="template-lists">
                                        <ul class="list-group list template-groups" id="myUL" style="padding-right: 10px;">
                                            {% for template in templates %}
                                                <li class="list-group-item" style="border-top: 0px;">
                                                    <span class="template-msg">
                                                        <h4 style="cursor: pointer;" class="btn-tooltip" title="{{template.name}}">{{template.name|truncatechars_html:25}}</h4>
                                                        <span class="content-body btn-tooltip" title="{{template.message}}" style="cursor: pointer;">{{template.message|truncatechars_html:70}}</span>
                                                    </span>
                                                    <span class="btn-action">
                                                        <a href="#" class="btn-edit" data-id="{{template.id}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;<a href="#" class="btn-remove" data-id="{{template.id}}"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {%else%}
                                    <p style="text-align: center;margin-top: 5%;">No template yet.</p>
                                    {%endif%}
                                    <div style="width: 100%;float: left;">
                                        <button class="btn btn-primary act_load_more" id="loadMore" style="{%if templates|length > 5%}display:block;{%else%}display:none;{%endif%}margin-top: 25px;">Load More</button>
                                    </div>
                                </div>
                                <div class="col-md-6 right-content">
                                    <h4>CREATE A NEW TEMPLATE</h4>
                                    <form id="msg-template-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" />
                                        <input type="hidden" name="_method" value="save" />
                                        <div class="form-group" style="width: 100%;">
                                            <label>Template Name</label>
                                            <input type="text" name="template_name" id="template_name" class="form-control" maxlength="50">
                                        </div>
                                        <div class="template-error" style="width: 100%;"></div>
                                        <div class="form-group" style="width: 100%;">
                                            <label>Message</label>
                                            <div class="form-group" style="width: 100%;float: left;">
                                                <div class="textarea-wrapper" style="width:100%;">
                                                    <textarea class="form-control textarea" maxlength="459" accept-charset="utf-8"  rows="5" name="broadcast_message" id="broadcast_message"></textarea>
                                                </div>
                                                <span class="helper-block message-character-count" style="float: right;"><small><span id="characterLeft">459</span>/<span id="charCounter">0</span></small></span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-save-template" disabled="disabled">SAVE TEMPLATE</button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- content -->
                    </div><!-- container-fluid -->
                </div><!-- page-content-wrapper -->
            </div><!-- wrapper -->
        </div><!-- content body end -->
        <!-- modal delete -->
        <div class="modal fade modal-summary" id="delete-record" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper" style="padding:0px;">
                        <h3>DELETE MESSAGE TEMPLATE</h3>
                        <img src="/static/images/questionmark.png" class="img-responsive">
                        <p>Are you sure you want to delete this<br>message template?</p>
                        <div class="btns">
                            <button class="btn btn-default btn-back" data-dismiss="modal">NO</button>
                            <button class="btn btn-default btn-confirm btn-confirm-delete">YES</button> 
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal delete end -->
        <!-- modal save success -->
        <div class="modal fade modal-summary" id="save-success" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper">
                        <h3 style="color: #41799b;">MESSAGE TEMPLATE SAVED</h3>
                        <img src="/static/images/Success-check.png" class="img-responsive" style="margin-bottom:10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Template Name</h3>
                            </div>
                            <div class="panel-body">
                                <p class="template-name" style="text-align: left;"></p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Message</h3>
                            </div>
                            <div class="panel-body">
                                <p class="message-body" style="text-align: left;word-wrap: break-word;white-space: pre-wrap;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="btn btn-default btn-confirm" onclick="window.location = '/message-template'">OK</button> 
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal save success end -->
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/js/message-template-script.js"></script>
{% endblock %}