<div style="background-color:#CCC; padding: 5px;">
        <div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
            <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
        </div>

        <div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
               <p style="margin-bottom:20px;margin-top:20px;">Welcome to the KAST Community!</p>
               <p style="margin-bottom:20px;">To start using KAST for your SMS promos, broadcast, community building, and more, please verify this email address by inputting the code in the email verification page.</p>
               <p style="margin-bottom:20px;font-weight:700;">CODE: {{code_key}}</p>
               <p style="margin-bottom:20px;">Thank you for your interest in using KAST! Should you have any questions, feel free to visit our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a></p>
               <p>Thank you!</p>
                <p>KAST Support Team</p>
        </div>
</div>
