{% extends 'kast_base_templates/live/base_template.html' %}

{% block content %}
<div class="dashboard">
    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <div class="h-155">
                        <i class="pe-7s-add-user icons" style="padding-top: .4em;"></i>
                        <h1 class="title">20,000</h1>
                        <h3 class="subtitle">Registered</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <div class="h-155">
                        <i class="pe-7s-users icons" style="padding-top: .4em;"></i>
                        <h1 class="title">100,000</h1>
                        <h3 class="subtitle">Subscribers</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="h-155">
                        <div class="col-lg-9">
                            <h5 class="m-b-xs">BROADCASTS</h5>
                            <div class="col-lg-6 nopaddingL">
                                <span class="font-bold no-margins">
                                    Campaign1
                                </span>
                            </div>
                            <div class="col-lg-6 nopaddingLR" style="text-align: right;">
                                <span class="font-bold no-margins">
                                    200K of 1M
                                </span>
                            </div>
                            <div class="progress m-t-xs full progress-small col-lg-12 nopaddingLR">
                                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                                     role="progressbar" class=" progress-bar progress-bar-danger">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>
                            <div class="col-lg-6 nopaddingL">
                                <span class="font-bold no-margins">
                                    Campaign1
                                </span>
                            </div>
                            <div class="col-lg-6 nopaddingLR" style="text-align: right;">
                                <span class="font-bold no-margins">
                                    200K of 1M
                                </span>
                            </div>
                            <div class="progress m-t-xs full progress-small col-lg-12 nopaddingLR">
                                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                                     role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>
                            <div class="col-lg-6 nopaddingL">
                                <span class="font-bold no-margins">
                                    Campaign1
                                </span>
                            </div>
                            <div class="col-lg-6 nopaddingLR" style="text-align: right;">
                                <span class="font-bold no-margins">
                                    0 of 1M
                                </span>
                            </div>
                            <div class="progress m-t-xs full progress-small col-lg-12 nopaddingLR">
                                <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                                     role="progressbar" class=" progress-bar progress-bar-info">
                                    <span class="sr-only">0% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 nopaddingLR text-center">
                            <h5 class="m-b-xs">1 MILLION</h5>
                            <i class="pe-7s-mail-open-file" style="font-size: 4em;padding-top: .5em;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row two-way-traffic">
        <div class="col-lg-12">
            <div class="hpanel hpanel-bottom">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4 left">
                            <h3>Two-Way Traffic Hits</h3>
                        </div>
                        <div class="col-lg-8 right">
                            <form class="form-inline twoway_sender_ids">
                                <div class="form-group">
                                    <label>SENDER ID</label>
                                    <select class="form-control" name="sender_id">
                                        <option>SENDERID1</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 nopaddingL">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Incoming
                    </div>
                    <div class="panel-body">
                        <div>
                            <canvas id="incoming" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Outgoing
                    </div>
                    <div class="panel-body">
                        <div>
                            <canvas id="outgoing" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row broadcasts">
        <div class="col-lg-12 nopaddingLR">
            <div class="col-lg-7">
                <div class="col-lg-12 nopaddingL">
                    <div class="hpanel hpanel-bottom">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-6 left">
                                    <h3>Broadcast Traffic Hits</h3>
                                </div>
                                <div class="col-lg-6 right">
                                    <form class="form-inline broadcast_sender_ids">
                                        <div class="form-group">
                                            <label>SENDER ID</label>
                                            <select class="form-control" name="sender_id">
                                                <option>SENDERID1</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 nopaddingL">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="h-260">
                                <canvas id="broadcasts" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-12 nopaddingL">
                    <div class="hpanel hpanel-bottom" style="margin-bottom: 8px!important;">
                        <div class="panel-heading">
                            <h3>SENDER ID Breakdown</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 nopaddingL">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="h-260">
                                <canvas id="sender_ids_breakdown" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/scripts/customs/dashboard.js"></script>
{% endblock %}