<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/faqs.css">
        <link rel="stylesheet" type="text/css" href="/static/css/slidebars.css">
        <link rel="stylesheet" type="text/css" href="/static/css/slidebars.styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108510484-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108510484-1');
        </script>

        <style>
            p { padding-left: 2.0em; }
            b { text-indent: 2.0em; }

            #container {
               min-height:100%;
               position:relative;
                   padding-left: 0;
                padding-right: 0;
            }
            #body {
               padding:10px;
               padding-bottom:60px;   /* Height of the footer */
            }
            #faqs{
                min-height: 43.2em;
                height: 100%;
                padding-bottom: 7em;
            }
        </style>

    </head>
    <body class="inner-page">

    <div id="container" class="container-fluid">
       {% if user.is_authenticated %}
            <span id="account-status" class="hidden">{{ p_status }}</span>
            <nav id="header-navigation" class="navbar navbar-default header">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/dashboard">
                            <img src="/static/images/kast-sm.png" class="img-responsive">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="header-content">
                        {% if p_status == 'live' %}
                        <ul id="live-nav" class="nav navbar-nav nav-left">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/sender-id">Sender IDs</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                            <li><a href="/message-template">Message Templates</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                       <li style="margin-right: -10%;"><a href="/broadcasts/live" data-toggle="tooltip" data-placement="bottom" title="New Broadcast"><img src="/static/images/add-campaign.png" style="width: 60%;"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                               <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                         </li>
                    </ul>

                        {% else %}
                    <ul id="trial-nav" class="nav navbar-nav nav-left">
                            <li><a href="/faqs">FAQs</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right trial-header">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="text-center"><a href="/profile">My Profile</a></li>
                                    <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        {% else %}

        <!-- HEADER GUEST -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right guest-header" style="background:none!important">
                        <li><a href="/login" class="btn btn-primary btn-homepage-header login">Log In</a></li>
                        <li><a href="/register/trial" class="btn btn-primary btn-homepage-header register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- END HEADER GUEST -->
        {% endif %}
           <div class="col-md-8 col-md-offset-2" id="faqs">
                <h2 style="color: #41799b;text-align: center;margin-bottom: 20px;">Frequently Asked Questions</h2>
                <div class="input-group paddingLR" style="margin-left: 10%;width: 80%;margin-bottom: 20px;">
                    <span class="input-group-addon" style="color: #555!important;background-color: #fff!important;"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control" id="inputString" onkeyup="searchText()" placeholder="Search your question here">
                </div>
                <ul class = "trackAccordion" id="myUL">
                    <li>
                        <a href="#">What can you do with KAST?</a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><b>Send Bulk SMS Broadcast</b><p>With your KAST account, you can send to an unlimited number of SMS to your own mobile base to any of the telco networks in the Philippines.</p><b>Create Branded SMS</b><p>KAST allows you to apply and use customized sender ID for your SMS. This is a name that recipients see as the sender of the SMS instead of the usual mobile number. Use of sender IDs are subject to approval based on telco and NTC (National Telecommunications Commission) policies. Sender IDs can be up to 11 alphanumeric characters in length.</p><b>Create Message Templates</b><p>KAST has a message template feature that lets you compose and save commonly used messages so you don’t have to type them each time you create a new broadcast campaign.</p><b>Manage your contacts</b><p>You can upload a list of contacts to allow you to do bulk sending of messages. This list is a list saved as an Excel file that KAST can save as a contact group for use in future broadcasts. You can filter through the contacts based on certain parameters that are set.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">How much do I pay to use KAST and its services?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>First time registrants may use KAST for free for its trial broadcast which allows user to send out a 1-part SMS to a maximum of five (5) valid recipients. From the time they register, users can already opt to ‘Go Live’ in which they can make use of KAST and its full features. For this basic subscription, users will have to pay P999 a month as cost to allowing them to use branded SMS. On top of the monthly subscription fee, usage fee for SMS send-outs are priced at Php 0.45 for each SMS part processed.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">How many characters may I include in an SMS broadcast message?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><b>Message Length and SMS counting</b><p>You can compose messages that follow the UTF-8 format and send up to 3 messages parts. A message has more than 1 part is automatically concatenated to be sent as 1 long message.</p><p>Below is the detailed character count per message part</p><p>Part 1 : 1-160</p><p>Part 2 : 161-306</p><p>Part 3 : 307-459</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">What is the success rate of the delivery of broadcasts?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>KAST as a gateway is connected to all of the local networks and has a telco acceptance rate of 99%. Handset delivery rate for sending bulk SMS broadcast is at 85%. The success rate is influenced by several factors like: recipient’s number is blocked by telco, handset is turned off or is out of coverage area, among others.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">How do I get my own sender ID?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>KAST requires user to pre-register the Sender IDs which can be requested through KAST itself. This will then be screened by the KAST administrator to ensure that it complies with the general guidelines for Sender IDs. KAST supports up to 11 alphanumeric characters in length. The user’s account will then be updated with the status of the Sender ID. Either it will be under ‘Approved’ or ‘Rejected’.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">What is the service level agreement on the response times for operational support?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>Sender ID Registration : 1-2 days</p><p>Availability of Delivery Report : 24 hours after sending the broadcast campaign</p><p>Escalation Acknowledgement : within 15 minutes</p><p>Incident Resolution : 1-2 days or depends on the Telco's validation</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">Are there any restrictions that I should take note of when I send broadcasts on KAST?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><b>Sender ID Restrictions</b><p>- Special characters are not allowed for sender IDs except for apostrophe ('), period (.), underscore (_) and dash (-)</p><p>- Sender IDs that may portray the telco's name, product or services</p><p>- Purely numeric sender ID</p><p>- Space-only sender ID ( )</p><p>- Names or Brands associates with tobacco, gambling, alcohol, drugs, adult content or election</p><p>- Message Restrictions</p><p>- Use for tobacco, gambling, alcohol, drugs, adult or election-related content.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">What's the capacity allocated for my transactions?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>Each company account is equally allotted with x TPS (transactions per second).</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">Are the data I input and the campaigns I run secure on KAST?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>KAST uses Secure Sockets Layer to transmit data in a secured manner through encryption.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">Does KAST clean up my contact list?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>KAST automatically filters out undefined mobile numbers based on Telcos' recognized mobile number ranges. This is for the purpose of ensuring that the numbers forwarded from KAST to the Telco servers are valid and active.</p></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <span class = "accoTrack">Are there other broadcast policies that I have to follow?</span></a>
                        <ul class = "tracks" id = "cert_Track">
                            <li><p>- Promotional blasts should include an instruction to subscribers on how to unsubscribe. This is to give an option for recipients to opt-out of the broadcast base</p><p>- Users cannot push to mobile numbers that are included in the pre-defined VIP list as mandated by Telcos.</p></li>
                        </ul>
                    </li>
                </ul>
           </div>

       <!-- FOOTER -->
        {% if p_status == 'live' %}
        <footer class="footer-live">
            <div class="container">
                <div class="col-md-6 footer-left">
                    <div id="footer-bar">
                         <nav>
                              <ul>
                               <li><a href="/faqs">FAQs</a></li>
                               <li class="divider-footer">|</li>
                               <li><a href="/broadcast-guide">How To</a></li>
                              </ul>
                         </nav>
                     </div>
                </div>
            </div>
        </footer>
        {% else %}


        {% endif %}
    </div>

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/js/slidebars.js"></script>
        <script src="/static/js/slidebars.scripts.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/faqs.js"></script>
    </body>
</html>
<!-- END FOOTER FOR GUEST(s) -->

