<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/pricing.css" />
        
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108510484-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108510484-1');
        </script>

    </head>
    <body class="inner-page">
	{% if user.is_authenticated %}
	    <!-- HEADER FOR TRIAL -->
            <nav id="header-navigation" class="navbar navbar-default header">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/dashboard">
                            <img src="/static/images/kast-sm.png" class="img-responsive">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="header-content">
                        <ul class="nav navbar-nav nav-left">
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right trial-header">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                    <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                         </li>
                    </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

	{% else %}
        <!-- HEADER GUEST -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right guest-header" style="background:none!important">
                        <li><a href="/login" class="btn btn-primary btn-homepage-header login">Log In</a></li>
                        <li><a href="/register/trial" class="btn btn-primary btn-homepage-header register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- END HEADER GUEST -->
	{% endif %}

            <!-- PAGE CONTENT -->
            <div class="pricing-container col-md-8 col-md-offset-2">
                <h2 class="head">PRICING</h2>
                <div class="col-md-12" style="margin-top: 3%;">
                    <div class="row">
                        <div class="col-md-4 left">
                            <div class="circle"><span><strong style="font-family: 'GothamBold';font-size: 36px;">P999</strong> monthly</span></div>
                        </div>
                        <div class="col-md-8 right">
                            <ul>
                                <li>
                                    <span>Create and send SMS broadcast campaigns</span>
                                </li>
                                <li>
                                    <span>Customized sender names</span>
                                </li>
                                <li>
                                    <span>Contact base management</span>
                                </li>
                                <li>
                                    <span>Message templates</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" style="margin-top: 6%;text-align: center;">
                            <p style="font-size: 16px;">Register for one-time free trial to see how it works!</p>
                            <a href="/register/trial/" class="btn btn-primary btn-reg">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END PAGE CONTENT -->

        <!-- FOOTER -->

        <!-- END FOOTER -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        {% if user.is_authenticated %}
        {% else %}
            <script src="/static/js/slidebars.js"></script>
            <script src="/static/js/slidebars.scripts.js"></script>
	{% endif %}

        <script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/inner-pages.js"></script>
    </body>
</html>

