{% extends 'kast_base_templates/live/base_template.html' %}

{% load humanize %}

{% block content %}
<div class="row sms-broadcasts">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="nopaddingLR text-center no-sms-broadcasts padding-top-6 col-md-6 col-md-offset-3" style="display: none;">
                	<div class="green-circle plus-icon">
                		<i class="ion-ios-plus-empty"></i>
                	</div>
                	<h4 style="font-weight: 400;margin-top: 30px;">You don't have broadcast campaigns yet. Create your broadcast now!</h4>
                </div>
                <table id="dashboard-table" class="table table-striped table-bordered table-hover datatable" cellspacing="0" width="100%">
				    <thead>
				        <tr>
				        	<th>ID</th>
				        	<th>&nbsp;</th>
				            <th style="width: 300px;">Campaign Name</th>
				            <th style="width: 110px;">Schedule</th>
				            <th style="width: 90px;">Date Created</th>
				            <th style="width: 100px;">Created By</th>
				            <th style="width: 70px;">On Queue</th>
				            <th>Forwarded</th>
				            <th>Sent</th>
				            <th>Failed</th>
				            <th>Base</th>
				            <th style="width: 100px;">Message Parts</th>
				            <th style="width: 110px;">Reference Code</th>
				            <th style="width: 80px;">&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				            <th>&nbsp;</th>
				        </tr>
				    </thead>
				    <tbody>
				    	{% load tz %}
		                {% timezone "Asia/Manila" %}
				      	{% for x in Campaigns %}
				        <!-- NOTE: We escape HTML to prevent XSS attacks. -->
				        <tr data-broadcast-id="">
				        	<td>{{x.kastuserbroadcasts.campaign_id}}</td>
				        	<td><input type="checkbox" name="select_box[]" /></td>
				          	<td>{{ x.campaign_name }}</td>
				          	{% if x.campaign_schedule == None %}
			                    {% if x.is_draft == False %}
			                        <td>{{ x.created|date:"m-d-Y h:ia" }}</td>
			                    {% else %}                                     
			                        <td>-</td>
			                    {% endif %}
			                {% else %}
			                    <td>{{ x.campaign_schedule|date:"m-d-Y h:ia" }}</td>
			                {% endif %}
				          	<td>{{ x.created|date:"m-d-Y" }}</td>
				          	<td>Grasha Lalala</td>
				          	{% if x.kastuserbroadcasts.get_onqueue.count == None or x.kastuserbroadcasts.get_onqueue.count == 0 %}
			                    <td>-</td>
			                {% else %}
			                    <td>{{ x.kastuserbroadcasts.get_onqueue.count }}</td>
			                {% endif %}
				          	{% if x.kastuserbroadcasts.get_forwarded.count == None or x.kastuserbroadcasts.get_forwarded.count == 0 %}
			                    <td>-</td>
			                {% else %}
			                    <td>{{ x.kastuserbroadcasts.get_forwarded.count }}</td>
			                {% endif %}
				          	{% if x.kastuserbroadcasts.get_success.count == None or x.kastuserbroadcasts.get_success.count == 0 %}
			                    <td>-</td>
			                {% else %}
			                    <td>{{ x.kastuserbroadcasts.get_success.count }}</td>
			                {% endif %}
				          	{% if x.kastuserbroadcasts.get_failed.count == None or  x.kastuserbroadcasts.get_failed.count == 0 %}
			                    <td>-</td>
			                {% else %}
			                    <td><a id="campaign-{{x.kastuserbroadcasts.campaign_id}}" href="javascript:void(0)" data-campaign-name="{{x.campaign_name}}" data-sender-id="{{x.kastuserbroadcasts.sender_id}}" data-message="{{x.kastuserbroadcasts.message}}" data-schedule="{{x.campaign_schedule|date:'Y-m-d h:i:s'}}" data-broadcast-id="{{x.kastuserbroadcasts.broadcast_id}}" 
			                    data-failed="{% for number in x.kastuserbroadcasts.get_failed.base %} {{number.msisdn}}#{{number.description}},{% endfor %}" data-campaign-id="{{x.kastuserbroadcasts.campaign_id}}" data-failed-desc="{% for desc in x.kastuserbroadcasts.get_failed.base %} {{desc.description}},{% endfor %}" style="color: #cf6162;text-decoration: underline;" class="btn-failed"><span>{{ x.kastuserbroadcasts.get_failed.count }}</span></a></td>
			                {% endif %}
				          	{% if x.kastuserbroadcasts.base_count == None %}
			                    <td>-</td>
			                {% else %}
			                    <td>{{ x.kastuserbroadcasts.base_count }}</td>
			                {% endif %}
			                {% if x.kastuserbroadcasts.message == None or x.kastuserbroadcasts.message == "" %}
	                        <td>- {{x.kastuserbroadcasts.message}}</td>
		                    {% else %}
		                    	{% if x.kastuserbroadcasts.message|length >= 1 and  x.kastuserbroadcasts.message|length <= 160 %}
		                        <td>1</td>
		                        {% elif x.kastuserbroadcasts.message|length >= 161 and  x.kastuserbroadcasts.message|length <= 306 %}
		                        <td>2</td>
		                        {% else %}
		                        <td>3</td>
		                        {%endif%}
		                    {% endif %}
			                {% if x.reference_code == None %}
		                        <td>-</td>
		                    {% else %}
		                        <td>{{ x.reference_code }}</td>
		                    {% endif %}
		                    <td style="text-align: center;">
		                    	<a data-toggle="modal" href="javascript:void(0)" class="btn-dashboard btn-summary" data-row-campaign="{{x.campaign_name}}" data-row-audience="{% if x.kastuserbroadcasts.base_count == None %} - {% else %} {{ x.kastuserbroadcasts.base_count }} {% endif %}" data-row-message="{{x.kastuserbroadcasts.message}}" data-row-senderid="{{x.kastuserbroadcasts.sender_name}}" data-row-schedule="{% if x.campaign_schedule == None %}-{% if x.is_draft == False %} {{ x.created|date:'m-d-Y h:ia' }} {% else %}-{% endif %} {% else %}{{ x.campaign_schedule|date:'m-d-Y h:ia' }} {% endif %}" title="View Summary"><span class="fa fa-eye"></span></a>&nbsp;&nbsp;<a href="/broadcasts/live/?q={{x.campaign_uid}}" class="btn-dashboard btn-edit" title="Edit"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;<a data-toggle="modal" href="javascript:void(0)" class="btn-dashboard btn-delete" data-row-id="{{x.campaign_uid}}" data-row-campaign="{{x.campaign_name}}" title="Delete"><span class="fa fa-trash-o"></span></a>&nbsp;&nbsp;<a href="/broadcasts/get_report/{{x.kastuserbroadcasts.broadcast_id}}" class="btn-dashboard btn-request" title="Request for a Report"><span class="fa fa-bar-chart"></span></a>
		                    </td>
		                    <td>{{x.kastuserbroadcasts.broadcast_id}}</td>
		                    {% if x.kastuserbroadcasts.message == None %}
		                        <td>-</td>
		                    {% else %}
		                        <td>{{ x.kastuserbroadcasts.message }}</td>
		                    {% endif %}
		                    {% if x.kastuserbroadcasts.sender_id == None %}
		                        <td>-</td>
		                    {% else %}
		                        <td>{{ x.kastuserbroadcasts.sender_id }}</td>
		                    {% endif %}
		                    <td>{{x.is_draft}}</td>
		                    {% if x.campaign_schedule == None %}
			                    {% if x.is_draft == False %}
			                        <td>{{ x.created|date:"Y-m-d h:i:s" }}</td>
			                    {% else %}                                     
			                        <td>-</td>
			                    {% endif %}
			                {% else %}
			                    <td>{{ x.campaign_schedule|date:"Y-m-d h:i:s" }}</td>
			                {% endif %}
			                <td>{{x.campaign_uid}}</td>
			                <td>{{x.kastuserbroadcasts.sender_name}}</td>
				        </tr>
				      	{% endfor %}
				      	{% endtimezone %}
				      </tbody>
				    </table>
            </div>
        </div>
    </div>
</div>

<!-- SUMMARY MODAL -->
<div class="modal fade modal-summary" id="broadcast-summary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">Campaign Summary</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="font-size: 15px;padding: 0 5em;">
                    	<p><strong>Campaign Name: </strong><span id="cname" class="total_audience"></span></p>
                    	<p><strong>Base Count: </strong><span id="caudience" class="total_audience"></span></p>
                    	<p><strong>Sender ID: </strong><span id="csenderid" class="sender-id"></span></p>
                    	<p>
                    		<strong>Schedule: </strong><span id="cdate"></span>&nbsp;<span id="ctime"></span>
                    	</p>
                    	<p><strong>Message: </strong><p id="cmessage" class="message-body"></p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<!-- DELETE CAMPAIGN MODAL -->
<div class="modal fade modal-summary" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">NOTICE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="font-size: 15px;padding: 0 5em;text-align: center;">
                    	<img src="/static/images/ic-warning-upload.png" class="img-responsive" style="width: 30%;margin-left: 10em;">
		                <p class="text-center" style="padding-top: 20px;">
						    Are you sure you want to delete <strong id="modal-campaign-name"></strong>?
						</p>	
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            	<form method="POST" action="/broadcasts/lists/" class="kast-form" id="delete-form">
			  	    <input type="hidden" class="form-control text-center" id="delete-request-type" name="request_type" value="delete_campaign" />
			  	    {%csrf_token%}
			  	    <input type="hidden" class="form-control text-center" id="delete-confirm" name="campaign_id" value="" />
			  	    <button type="button" class="btn btn-gray" data-dismiss="modal">NO</button>
                	<input type="submit" class="btn btn-primary btn-yes-delete" id="delete-yes" value="YES" />
				</form>
            </div>
        </div>
    </div>
</div>
<!-- END DELETE CAMPAIGN MODAL -->

<!-- MODAL AFTER SUCCESSFUL DELETION -->
<div class="modal fade modal-summary" id="successModalDashboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">SUCCESS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="font-size: 15px;padding: 0 5em;text-align: center;">
                    	<img src="/static/images/Success-check.png" class="img-responsive" style="width: 30%;margin-left: 10em;">
               	 		<p style="padding:10px;">Campaign successfully deleted</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL AFTER SUCCESSFUL DELETION -->

<!-- modal failed numbers -->
<div class="modal fade modal-summary text-center" id="modalFailed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    	<form method="post" id="failed-form" class="form-inline" enctype="multipart/form-data">
    		{%csrf_token%}
    		<textarea name="contact_list" id="contact_list" style="display: none;"></textarea>
    		<textarea name="message" id="message" style="display: none;"></textarea>
    		<input type="hidden" name="broadcast_id" id="broadcast_id" class="broadcast_id">
    		<input type="hidden" name="sender_id" id="sender_id" class="sender_id">
    		<input type="hidden" name="schedule" id="schedule" class="schedule">
    		<input type="hidden" name="campaign_name" id="campaign_name" class="campaign_name">
    		<input type="hidden" name="campaign_id" id="campaign_id" class="campaign_id">
	        <div class="modal-content">
	            <div class="color-line"></div>
	            <div class="modal-header text-center">
	                <h4 class="modal-title" id="myModalLabel">Failed to Send</h4>
	            </div>
	            <div class="modal-body">
	                <div class="row">
	                	<h4 style="font-size: 16px;">List of mobile numbers</h4>
	                    <div class="col-lg-12 list-numbers" style="margin-top: 10px;">
	                    	<ul class="list-failed"></ul>
	                    </div>
	                </div>
	                <div class="alert alert-danger resend-container" role="alert">
                    	<p>Would you like to resend your message that failed to send?</p>
                    	<div class="form-group" style="width: 100%;margin-top: 10px;">
			    			<label style="margin-right:10px;">Resend to:</label>
				    		<select style="width: 45%;padding: 8px 16px;line-height: 37px;height: 40px;" name="select_resend" id="select_resend" class="form-control input-lg">
				    			<option>All</option>
			    			</select>
			    		</div>
                    </div>
	            </div>
	            <div class="alert alert-danger error-broadcast" role="alert" style="margin-left: 30px;margin-right: 30px;font-weight:700;display: none;"></div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
	                <button type="button" class="btn btn-primary btn-resend-failed" id="btn-resend">Resend</button>
	            </div>
	        </div>
	    </form>
    </div>
</div>
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/scripts/customs/sms-broadcast-live-dashboard.js"></script>
{% endblock %}