{% extends 'kast_base_templates/live_account_template.html' %}

{% block content %}
        <!-- content body start -->
        <div class="container-fluid main-wrapper" role="main">
            <div class="wrapper toggled">
                <!-- <div class="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                        <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                        <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                        <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                        <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                        <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                        <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                    </ul>
                </div>
                <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="col-md-12 message-template-container sender-id-wrapper">
                            <div class="col-md-6 left-content">
                                <h4>SENDER IDs</h4>
                                <div class="col-md-12 sender-ids-container">
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="color: #555!important;padding: 7px!important;background-color: #fff!important;"><span class="glyphicon glyphicon-search"></span></span>
                                                <input id="search-senderid" type="text" class="form-control" placeholder="Search Sender IDs...">
                                            </div>
                                            <div class="search-result" style="width: 100%;float: left;"></div>
                                        </div>
                                    </form>
                                    <ul id="sender-id-nav" class="nav nav-pills nav-search">
                                        <li class="active"><a  href="#pending" data-toggle="tab">PENDING</a></li>
                                        <li><a href="#approved" data-toggle="tab">APPROVED</a></li>
                                        <li><a href="#rejected" data-toggle="tab">REJECTED</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="pending">
                                            {%if pending_sender_ids %}
                                                <div class="tab-main">
                                                    <ul class="list-group" style="padding-right: 10px;">
                                                        {% for pending in pending_sender_ids %}
                                                            <li class="list-group-item">
                                                                <span class="template-msg">{{pending.name}}</span>
                                                                <span class="btn-action" style="float: right;">
                                                                    <a href="#" class="btn-remove" data-id="{{pending.id}}"><span class="glyphicon glyphicon-trash" style="color: #888787;font-size: 15px;"></span></a>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {%else%}
                                            <p style="text-align: center;margin-top: 15%;margin-top: 20px;">No sender ids yet.</p>
                                            {%endif%}
                                            <div style="width: 100%;float: left;">
                                                <button class="btn btn-primary act_load_more" {%if pending_sender_ids|length > 5%}style="display:none;"{%endif%} id="loadMorePending">Load More</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="approved">
						                    {%if approved_sender_ids %}
                                                <div class="tab-main">
                                                    <ul class="list-group">
                                                        {% for approved in approved_sender_ids %}
                                                            <li class="list-group-item">
                                                                <span class="template-msg">{{approved.name}}</span>
                                                                <span class="btn-action" style="float: right;">
                                                                    <a href="#" class="btn-remove" data-id="{{approved.id}}"><span class="glyphicon glyphicon-trash" style="color: #888787;font-size: 15px;"></span></a>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
						                    {%else%}
                                            <p style="text-align: center;margin-top: 15%;margin-top: 20px;">No sender ids yet.</p>
                                            {%endif%}
                                            <div style="width: 100%;float: left;">
                                                <button class="btn btn-primary act_load_more" {%if approved_sender_ids|length > 5%}style="display:none;"{%endif%} id="loadMoreApproved">Load More</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="rejected">
                                            {%if rejected_sender_ids %}
                                                <div class="tab-main">
                                                    <ul class="list-group">
                                                        {% for rejected in rejected_sender_ids %}
                                                            <li class="list-group-item">
                                                                <span class="template-msg">{{rejected.name}}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {%else%}
                                            <p style="text-align: center;margin-top: 15%;margin-top: 20px;">No sender ids yet.</p>
                                            {%endif%}
                                            <div style="width: 100%;float: left;">
                                                <button class="btn btn-primary act_load_more" {%if rejected_sender_ids|length > 5%}style="display:none;"{%endif%} id="loadMoreRejected">Load More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 right-content">
                                <h4 class="text-center">APPLY FOR A SENDER ID</h4>
                                <form id="sender-id-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" />
                                    <input type="hidden" name="user_email" id="user_email" value="kast-{{user_email}}">
                                    <input type="hidden" name="_method" value="save" />
                                    <div class="form-group" style="width: 100%;">
                                        <input type="text" name="sender_id" id="sender_id" class="form-control" maxlength="11">
                                    </div>
                                    <div class="template-error" style="width: 100%;"></div>
                                    <button type="submit" style="margin-top: 20px;" class="btn btn-default btn-save-template" disabled="disabled">SUBMIT</button>
                                    <span id="loading" style="float: left;width: 100%;margin-top: 10px;text-align: center;color: green;font-weight: 700;display: none;">Saving</span>
                                </form>
                            </div>
                        </div><!-- content -->
                    </div><!-- container-fluid -->
                </div><!-- page-content-wrapper -->
            </div><!-- wrapper -->
        </div><!-- content body end -->
        <!-- modal delete -->
        <div class="modal fade modal-summary" id="delete-record" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper" style="padding:0px;">
                        <h3>DELETE SENDER ID</h3>
                        <img src="/static/images/questionmark.png" class="img-responsive">
                        <p>Are you sure you want to delete this<br>sender ID?</p>
                        <div class="btns">
                            <button class="btn btn-default btn-back" data-dismiss="modal">NO</button>
                            <button class="btn btn-default btn-confirm btn-confirm-delete">YES</button> 
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal delete end -->
        <!-- modal save success -->
        <div class="modal fade modal-summary" id="save-success" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper">
                        <h3 style="color: #41799b;">FILED</h3>
                        <img src="/static/images/filed.png" class="img-responsive" style="margin-top: 10px;">
                        <p style="padding:20px;">Your sender ID application has been filed for approval. Please expect an approval time 1 to 2 days.</p>
                    </div>
                    <div class="btns">
                        <button class="btn btn-default btn-confirm" onclick="window.location = '/sender-id'">OK</button> 
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal save success end -->
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript">
$(document).ready(function(){

    $( ".template-msg" ).each(function( index ) {
        //console.log( index + ": " + $( this ).text() );

        $(this).html($( this ).html().replace(/ /g, "&nbsp;"));
    });
});
</script>
<script type="text/javascript" src="/static/js/sender-id-script.js"></script>
{% endblock %}
