<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<h4 style="font-size:18px; color:#50759A">There was a broadcast sent by {{ username }}.</h4>

		<p><strong>Broadcast Summary</strong></p>

		<table border="1" cellpadding="0" cellspacing="0">
		    <tr><td>Broadcast Type</td><td>{{ campaign_type }}</td></tr>
		    <tr><td>Date Broadcast</td><td>{{ schedule }}</td></tr>
		    <tr><td>Time Successfully Started Broadcast:</td><td>{{ created_at }}</td></tr>
		    <tr><td>From</td><td>{{ sender_id }}</td></tr>
		    <tr><td>Base Count</td><td>{{ base_count }}</td></tr>
		    <tr><td>Message</td><td>{{ message }}</td></tr>
		</table>

		<p>This message confirms successful broadcast.</p>
	</div>
</div>
